/****************************************
/* LAYOUT
/***************************************/
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
}
body > * {
    border: 1px solid blue;
}

/***** HEADER *****/
header {
    grid-column: 2;

}

/***** MAIN *****/
main  {
    grid-column: 2;
    grid-row: 2;
}

/***** SIDEBAR *****/
section {
    grid-row: 1 / 3;
}



